# PRODUCT_KEY: Optional product key for runtime-secured features.
# If not configured, optional key-based features will be disabled.
PRODUCT_KEY="MY_PRODUCT_KEY"

# APP_URL: The URL where UoG Family is hosted.
APP_URL="http://localhost:3000"

# DATABASE_URL: PostgreSQL connection string.
# Format: postgresql://username:password@localhost:5432/database_name?schema=public
DATABASE_URL="postgresql://postgres:admin@localhost:5432/uog_family?schema=public"

# JWT Secrets for Authentication and Refresh Tokens
JWT_SECRET="uog_family_secret_jwt_key_2026_super_secure"
JWT_REFRESH_SECRET="uog_family_refresh_secret_key_2026_super_secure"
